<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1.0.1" package="kumasuzu.aha.oretama" android:versionCode="2">
	<uses-sdk android:minSdkVersion="21" />
	<application android:label="くますず" android:icon="@drawable/icon"></application>
</manifest>